# .NET Core
bin/
obj/
out/

# User-specific files
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core specific build output
project.lock.json
project.fragment.lock.json

# Tye
.tye/

# JetBrains Rider
.idea/

# User-specific files
.vs2019/
.vs2017/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
